.main {
    display: flex;
    flex-direction: row;
    /*background-color: #FA4197;*/
    justify-content: flex-start;
}
.container {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    flex-grow: 1;
}
.industries {
    font-family: var(--font-dm);
    font-size: 36px;
    font-weight: bolder;
}
.industryType {
    color: #0669FD;
    font-family: var(--font-dongle);
    font-size: var(--font-xxl);
    font-weight: bolder;
}
.image {
    margin-left: 100px;
    object-fit: contain;
    width: clamp(250px, 20%, 350px);
    max-width: 350px;
    max-height: 350px;
    flex: 0.5;
    animation: heartbeatAnimation 4s infinite reverse;
}
@keyframes heartbeatAnimation {
    0%
    {
        transform: scale( .75 );
    }
    40%
    {
        transform: scale( .75 );
    }
    60%
    {
        transform: scale( 1.1 );
    }
    100%
    {
        transform: scale( .75 );
    }
}
.content {
    width: 90%;
    font-size: x-large;
    font-weight: normal;
    color: #535353;
    font-family: 'Dongle', sans-serif;
    line-height: 80.8%;
    text-align: justify;
}
.buttons {
    margin-top: 30px;
}

.button {
    /* color: white;
    font-size: x-large;
    font-family: 'Dongle', sans-serif;
    border-radius: 50px;
    padding: 10px 20px; */

    font-family: var(--font-dongle);
    font-size: var(--font-48);
    padding: 0 1.5em;
    border-radius: 2em;
    border-style: none;
    cursor: pointer;
    background-color: var(--background-primary);
    color: white;
    border: 2px solid var(--background-primary);

}
.buttonHighlighted {
    /* border: none; */
    background-color: #0669FD;
    margin-right: 20px;
}
.normalButton {
    background-color: white;
    border-color: #0669FD;
    color: #0669FD;
}
.buttonHighlighted:hover {
    background: #0059df;
    box-shadow: 0px 1px 12px rgba(0,0,0,.11);
}
.normalButton:hover {
    background-color: #5d9eff;
    color: white;
    box-shadow: 0px 1px 12px rgba(0,0,0,.11);
}
@media (width <= 1600px) {
    .industryType {
        line-height: 1.1;
    }
}

@media (width <= 860px) {
    .image {
        margin-left: 30px;
    }
}
@media (width < 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
    .image {
        margin-top: 40px;
        width: 100%;
        margin-left: 0;
        max-height: 150px;
    }
    .content {
        width: 100%;
    }
}
@media (width <=400px) {
    .buttonHighlighted {
        margin-right: 0;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
    }
}

@media (width <=370px) {
    .buttonHighlighted {
        margin-bottom: 20px;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}