.main {
    display: flex;
    flex-direction: column;

}
.container {
    width: 80%;
}
.title {
    font-size: xxx-large;
    font-family: 'DM Sans', sans-serif, monospace;
    font-weight: bolder;
}
.points {
    margin-top: 15px;
    margin-left: 20px;
}
.point {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;

}
.bullet {
    margin-top: 15px;
    height: fit-content;
    font-size: xx-large;
    color: #0669FD;
}
.body {
    margin-left: 20px;
}
.heading {
    font-size: xxx-large;
    font-family: 'Dongle', sans-serif;
    font-weight: bold;
}
.content {
    color: #535353;
    font-family: 'DM Sans', sans-serif, monospace;
}