.title_container {
    position: relative;
 }
.career_back_image {
    /* aspect-ratio: 9/16; */
    object-fit: cover;
    width: 100%;
    height: calc(473px - 473*0.2px);
}
.page_title {
    text-align: center;
    position: absolute;
    font-family: var(--font-dongle);
    font-weight: bold;
    font-size: 100px;
    line-height: 1.1;
    color: var(--background-primary);
    padding: 40px 40px 0px 40px;
    background-color: white;
    border-radius: 80px 80px 0px 0px;
    bottom: 0%;
    left: 10%;
 }
 .content_container {
    padding-top: 140px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
 }
 .left {
    padding-right: 140px;
 }
 .left > h1 {
    font-family: var(--font-dm);
    font-weight: bold;
    font-size: var(--font-64);
 }
 .left > .heading_sec {
    font-family: var(--font-dm);
    font-weight: bold;
    font-size: var(--font-24);
    margin-top: 40px;
 }
 .left > .para {
    font-family: var(--font-dm);
    font-size: var(--font-24);
    color: #535353;
    margin-top: 20px;
    text-align: justify;
 }

.joinNow {
    margin-top: 10%;
    color: var(--background-primary);
    font-size: var(--font-35);
    font-family: var(--font-dm);
    font-weight: bold;
}
.joinNow:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.bottomContainer {
    /*background-color: darkgrey;*/
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.categories {
    /*background-color: #00A991;*/
    display: flex;
}
.category {
    flex: 1;
    height: 100%;
}
.categoryTitle {
    font-size: var(--font-48);
    margin-bottom: 2%;
    font-family: var(--font-dongle);
}
.categoryHeading {
    margin-bottom: 4%;
    font-size: var(--font-48);
    font-weight: bold;
    font-family: var(--font-dm);
}
.role {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 5px;
}
.nameOfRole {
    color: #535353;
    font-family: var(--font-dm);
    font-size: var(--font-24);
    font-weight: 400;
}
.nameOfRole:hover {
    text-decoration: underline;
    color: var(--background-primary);
}



/* responsive css */
@media (width <= 768px) {
    .career_back_image {
        height: 250px;
    }
    .content_container {
        flex-direction: column;
    }
    .page_title {
       left: 50%;
       transform: translate(-50%);
    }
 
    .business_image {
       /* display: none; */
       object-fit: contain;
       width: 100%;
       height: 400px;
       margin-bottom: 20px;
    }
    .joinNow {
        text-align: center;
        margin-bottom: 20px;
    }
    .left {
       padding: 0;
    }
    .key_peoples_cont {
       flex-direction: column;
    }
    .profile_image {
       width: 120px;
       height: 120px;
       margin-bottom: 15px;
       margin-top: 40px;
    }
    .left > h1 {
       text-align: center;
    }
    .heading_sec {
       text-align: center;
    }
    .page_title {
       font-size: clamp(48px, 2%, 100px);
       padding: 10px 20px 0px 20px;
       border-radius: 25px 25px 0px 0px;
       width: max-content;
    }
    .about_back_image {
       height: 150px;
    }
 }