.main {
    min-height: 120vh;
    background-color: #142643;
    color: white;
    display: flex;
}
.backgroundImage{
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/image_assets/features.svg");
}
.container{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
}
.title {
    font-size: x-large;
    color: #00d4ff;
}
.metaTitle{
    font-size: xx-large;
}
.cardHolder{
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
.card {
    border-radius: 30px;
    padding: 5% 5%;
    margin: 10% 5%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1), 0 6px 20px 0 rgba(255, 255, 255, 0.05);
    transition-duration: 1s;
    cursor: pointer;
    border-color: white;
    border-style: groove;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card:hover {
    box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.1), 0 20px 50px 0 rgba(255, 255, 255, 0.05);
}
.cardTitle {
    font-size: x-large;
    border-color: black;
}
.cardContent {
    margin-top: 5px;
    color: #adadad;
}