.main {
    background-color: #edeaea;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
    border-radius: 30px;
    transition-duration: 500ms;
}
.main:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imageContainer {
    flex: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleContainer {
    flex: 1;
    background-color: #0669FD;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.title {
    font-weight: bolder;
    color: #FEFEFE;

}