.main {
    background-color: #edeaea;
    display: flex;
    flex-direction: column;
    font-family: var(--font-dm);
    font-size: var(--font-24);
    font-weight: bold;
    width: 300px;
    height: 300px;

    /* min-height: 40vh; */
    border-radius: 30px;
    transition: background 1s ease;
    transition-duration: 1s;
}
.main:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imageContainer {
    flex: 0.75;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    transition-duration: 1s;
}
.image:hover {
    scale: 1.5;
}
.titleContainer {
    flex: 0.25;
    background-color: #0669FD;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.title {
    font-weight: bold;
    color: #FEFEFE;
    font-family: var(--font-dm);
    font-size: var(--font-48);
}

@media (width <= 1320px) {
    .main{
        width: 240px;
        height: 240px;
    }
}