.title_container {
   position: relative;
}
.about_back_image {
   /* aspect-ratio: 9/16; */
   object-fit: cover;
   width: 100%;
   height: calc(473px - 473*0.2px);
}
.page_title {
   position: absolute;
   font-family: var(--font-dongle);
   font-weight: bold;
   font-size: 100px;
   line-height: 1.1;
   color: var(--background-primary);
   padding: 40px 40px 0px 40px;
   background-color: white;
   border-radius: 80px 80px 0px 0px;
   bottom: 0%;
   left: 10%;
}
.content_container {
   padding-top: 140px;
   margin-left: 10%;
   margin-right: 10%;
   display: flex;
}
.left {
   padding-right: 140px;
}
.left > h1 {
   font-family: var(--font-dm);
   font-weight: bold;
   font-size: var(--font-64);
}
.left > .heading_sec {
   font-family: var(--font-dm);
   font-weight: bold;
   font-size: var(--font-24);
   margin-top: 40px;
}
.left > .para {
   font-family: var(--font-dm);
   font-size: var(--font-24);
   color: #535353;
   margin-top: 20px;
   text-align: justify;
}
.team {
   margin-left: 10%;
   margin-right: 10%;
   padding-top: 140px;
}
.team > h1 {
   font-family: var(--font-dm);
   font-weight: bold;
   font-size: var(--font-64);
   text-align: center;
}
.profile_image {
   object-fit: fill;
   margin-bottom: 20px;
}
.key_peoples_cont {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-top:80px;
}
.name, .position {
   font-family: var(--font-dm);
   font-size: var(--font-24);
   text-align: center;
}
.key_people {

}
.additional_info {
   margin-left: 10%;
   margin-right: 10%;
   padding-top: 140px;
   padding-bottom: 140px;
   text-align: center;
}
.additional_info > h1 {
   font-family: var(--font-dm);
   font-size: var(--font-64);
   text-align: center;
}
.button {
   margin-top: 80px;
   font-size: var(--font-64);
   font-family: var(--font-dongle);
   /* font-weight: bold; */
   color: white;
   text-align: center;
   background-color: var(--background-primary);
   padding: 10px 40px 10px 40px;
   border: none;
   cursor: pointer;
}