.footer_body {
    /* margin-top: 20px; */
    height: 526px;
    width: 100vw;
    background-color: #F5F9FC;
    padding: 50px 0px 50px 0px;
}
.footer_inner_body {
    background-color: #F5F9FC;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0px 8em 0px 8em;
    /* padding: 50px 0px 50px 0px; */
}
.company_info {
    flex: 0.2;
    height: 100%;
    /* background-color: red; */
    margin-left: 0.5em;
    padding-right: 2.4em;
}
.footer_text {
    font-family: 'Dongle', sans-serif;
    font-weight: 400;
    font-size: var(--font-35);
    color: #535353;
    line-height: 28px;
}
.footer_email {
    margin-top: .5em;
}
.footer_text_high {
    color: black;
    margin-top: .5em;
}
.footer_icons_btn {
    object-fit: contain;
    width: 3.5em;
    height: 3.5em;
    border: 0.1em solid #535353;
    display: grid;
    place-items: center;
    border-radius: 0.6em;
    background-color: #F5F9FC;
    transition: transform 3ms ease-in-out;
    cursor: pointer;
    margin-top: 1em;
    user-select: none;
    transform: scale(0.8);
    margin-right: .5em;
}
.footer_icons_btn:hover {
    transform: scale(0.9);
}

.social_btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* padding-right: 3em; */
}
.cmp_srvc{
    padding-top: 1.7em;
}
.company_info_title{
    font-family: 'Dongle', sans-serif;
    font-weight: 400;
    font-size: var(--font-48);
    color: black;
    background-color: #F5F9FC;
}
.srvc_list{
    list-style: none;
    background-color: #F5F9FC;
    margin-top: 1.5em;
}
.srvc_list_items {
    margin-top: 0.6em;
}

@media screen and (max-width: 1440px) {
    .footer_inner_body {
        margin: 0 4em 0 4em;
    }
}

@media (width >=768px) and (width <=1024px) {
    .footer_inner_body {
        margin: 0 2em 0 2em;
    }
    .footer_icons_btn {
        width: 2.5em;
        height: 2.5em;
        border-radius: 0.4em;
    }
    .footer_icons_btn > img {
        object-fit: contain;
        width: 25px;
        transform: scale(1);
    }
    .footer_logo {
        object-fit: contain;
        width: clamp(120px, 1%, 171.85px);
    }
    .cmp_srvc {
        padding-right: 16px;
    }
}
@media (width < 768px) and (width >= 320px) {
    .footer_body {
        height: max-content;
    }
    .footer_inner_body {
        margin: 0 2em 0 2em;
    }
}
