.header_body {
    width: 100vw;
    padding: 0.5em 0em 0.5em 0em;
    background-color: transparent;
    position: relative;
    z-index: +10;
    background-color: white;
}
.header_inner_body {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    margin: 0 8em 0 8em;
}
.logo_image {
    object-fit: contain;
    width: 8em;
}
.menu_icon {
    display: none;
}
.logo_section {
    flex: 0.1;
}
.heading_section {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    flex: 0.75;
}
.button_section {
    flex: 0.15;
}
.header_text {
    font-family: 'Dongle', sans-serif;
    font-weight: 400;
    font-size: var(--font-35);
    width: max-content;
}
.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 2.2em; */
}
.header_dropdown {
    margin-left: 0.2em;
    object-fit: contain;
    height: 0.2em;
    transform: scale(1.5);
}

/* .header_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-primary);
    border-radius: 50px;
    width: 9em;
    height: 3em;
    cursor: pointer;
    transition: background, box-shadow 3ms ease-in-out;
} */
.header_btn {
    font-family: var(--font-dongle);
    font-size: var(--font-35);
    padding: 0 1.5em;
    border-radius: 2em;
    border-style: none;
    cursor: pointer;
    background-color: var(--background-primary);
    color: white;
    border: 2px solid var(--background-primary);
}
.header_btn:hover {
    background: #0059df;
    box-shadow: 0px 1px 12px rgba(0,0,0,.11);
}
.button_text {
    color: white;
    font-size: var(--font-35);
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: transparent;
    margin-left: 3em;
    cursor: pointer;
}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0.5em;
    padding: 0.5em;
    min-width: 20em;
    max-width: fit-content;
    /* top: 140%; */
    list-style: none;
}
.dropdown_content>li  p{
    text-decoration: none;
    font-weight: 400;
    font-family: 'Dongle', sans-serif;
    font-size: var(--font-24);
    line-height: 70%;
    padding: .5em;
    color: #535353;
    transition: color 3ms ease-in-out;
    cursor: pointer;
}
.dropdown_content>li p:hover {
    color: var(--background-primary);
}
.dropdown:hover .dropdown_content {display: block;}

@media screen and (max-width: 1440px) {
    .header_inner_body {
      /* background-color: red; */
      margin: 0 4em 0 4em;
    }
    .heading_section {
        flex: 0.7;
    }
    .button_section {
        flex: 0.2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

@media (width <= 1320px) {
    .header_inner_body {
        margin: 0 4em 0 4em;
    }
    .logo_image {
        width: 7em;
    }
    .dropdown {
        margin: 0;
    }
    .heading_section {
        justify-content: space-around;
    }
    .header_text {
        text-align: center;
    }
}
@media (width >=768px) and (width <=1024px) {
    .logo_image {
        width: 80px;
    }
}

@media (width <= 768px) {
    .menu_icon {
        display: inherit;
        object-fit: contain;
    }
    .logo_section {
        width: 100%;
        display: flex;
        flex: 1;
        /* background-color: red; */
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    .header_inner_body {
        flex-direction: column;
    }
    .heading_section {
        /* display: none; */
        /* position: absolute; */
        flex: 0;
        background-color: whitesmoke;
        /* left: 0%;
        bottom: 0%;
        transform: translateY(100%); */
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
    }
    .menu_open {
        display: none;
    }
    .menu_close {
        display: flex;
    }
    .button_section {
        display: none;
        flex: 0;
        /* visibility: hidden; */
    }
}

@media (width <= 580px) {
    .header_body {
        padding-bottom: 0;
    }
    .header_inner_body {
        margin: 0px 46px 0px 46px;
    }
    .logo_image {
        width: 90px;
    }
    .heading_section {
        flex-direction: column;
        padding: 0;
        border: 2px solid #eee;
    }
    .heading_section > div {
        width: 100%;
        padding: 3px;
    }
    .heading_section > div:nth-child(odd) {
        background-color: white;
        width: 100%;
    }
}