.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F5F9FC;
    height: 50vh;
}

.thunder_icon {
    height: 80px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/image_assets/thunder_icon.svg");
}

.title {
    font-size: 3.5em;
    padding: 5px;
    font-weight: bolder;
    font-family: 'DM Sans', sans-serif, monospace;
    width: 50%;
    text-align: center;
}

.inputForm {
    margin-top: 2em;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
}

.emailForm {
    font-size: large;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    margin-right: 5px;
    width: 70%;
}

.button {
    
    background-color: #0669FD;
    color: white;
    border: none;
    padding: 3px 1em;
    margin-left: 1em;
    border-radius: 1em;
    font-family: 'Dongle', sans-serif, monospace;
    font-size: 2em;
}