.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F5F9FC;
    height: 50vh;
    min-height: 440px;
}

.thunder_icon {
    height: 80px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/image_assets/thunder_icon.svg");
}

.title {
    font-size: var(--font-64);
    padding: 5px;
    font-weight: bolder;
    font-family: 'DM Sans', sans-serif, monospace;
    width: 100%;
    text-align: center;
}

.inputForm {
    /* margin-top: 2em; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
}

.emailForm {
    font-size: var(--font-35);
    padding: 3.6px 1em;
    border-radius: 30px;
    margin-right: 5px;
    width: 70%;
    border: 2px solid black;
}

.button {
    
    background-color: #0669FD;
    color: white;
    border: none;
    padding: 3px 1em;
    margin-left: 1em;
    border-radius: 1em;
    font-family: 'Dongle', sans-serif, monospace;
    font-size: var(--font-35);
    cursor: pointer;
}

@media (width <= 760px) {
    .inputForm {
        width: calc(max(60%, 250px));
        flex-direction: column;
        /* background-color: red; */
        padding: 0;
    }
    .emailForm {
        width: 100%;
        margin: 10px 0px ;
    }
}