.main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
}
.boldTitle {
    background-image: linear-gradient(90deg, #735DF0, #FA4197, #0BCDFA);
    background-clip: text;
    color: transparent;
}
.metaData {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    font-family: 'Dongle', sans-serif;
}
.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.getInTouchButton {
    font-family: 'Dongle', sans-serif;
    background-color: #0669FD;
    color: white;
    font-size: x-large;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 20px;
    border-radius: 40px;
}
.findOutMore {
    font-family: 'Dongle', sans-serif;
    background-color: white;
    color: #0669FD;
    font-size: x-large;
    padding: 10px 20px;
    border-style: ridge;
    border-color:  #0669FD;
    cursor: pointer;
    margin: 20px;
    border-radius: 40px;
}